* {
  box-sizing: border-box;
}

html {
  font-family: 'monospace', monospace;
}

body {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  row-gap: 10px;
  background-color: black;
}

header {
  color: white;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}

/*styles for calculator wrappers*/

.calculation-result,
.calculator,
.calculation-log-container {
  min-width: 40%;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
  max-width: 90%;
  color: white;
}

.calculation-result,
.calculation-log-container {
  background-color: #404040;
  border-radius: 10px;
}

.calculation-result {
  text-align: center;
}

.calc-actions-container {
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  width: 100%;
}

.calc-actions {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  row-gap: 5px;
}

.number-buttons {
  flex-grow: 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 5px;
  row-gap: 5px;
}

/*styles for user input*/

.calculator input {
  font: inherit;
  font-size: 30px;
  border: 1px solid #404040;
  background-color: #404040;
  border-radius: 10px;
  width: 100%;
  height: 70px;
  padding: 15px;
  margin: auto;
  display: block;
  color: white;
  text-align: center;
}

.calculator input:focus {
  outline: none;
}


/* Chrome, Safari, Edge, Opera */
.calculator input::-webkit-outer-spin-button,
.calculator input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
.calculator input[type=number] {
  -moz-appearance: textfield;
}


/*styles for all calculator buttons*/

.number-button,
.action-button,
.decimal-button,
.negate-button {
  font: inherit;
  color: white;
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  border: 1px solid white;
  font-weight: bold;
  font-size: larger;
}

.action-button {
  background: rgba(202, 130, 0, 0.84);
  border-color: rgba(202, 130, 0, 0.84);
}

.number-button,
.decimal-button,
.negate-button{
  background-color: #404040;
  border-color: #404040;
}

.number-button:focus,
.action-button:focus,
.decimal-button:focus,
.negate-button:focus {
  outline: none;
}

.number-button:hover,
.action-button:hover,
.decimal-button:hover,
.negate-button:hover {
  opacity: 0.7;
}

.number-button:active,
.action-button:active,
.decimal-button:active,
.negate-button:active{
  filter: brightness(2);
}

.clicked-num-button {
  color:  #404040;
  background-color: white;
  border-color: white;
}

.clicked-action-button {
  color: rgba(202, 130, 0, 0.84);
  background: white;
  border-color: white;
}